/**********************************************
BEAR
 **********************************************/
#bear {
  height: 370px;
  text-align: center;
  position: relative;
}

/*HEAD*/
#bear #head {
  border-radius: 50%;
  width: 200px;
  height: 170px;
  background: rgb(232, 165, 84); /* Old browsers */
  background: -moz-linear-gradient(
  top,
  rgba(232, 165, 84, 1) 40%,
  rgba(219, 145, 74, 1) 99%
  ); /* FF3.6+ */
  background: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(40%, rgba(232, 165, 84, 1)),
  color-stop(99%, rgba(219, 145, 74, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
  top,
  rgba(232, 165, 84, 1) 40%,
  rgba(219, 145, 74, 1) 99%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
  top,
  rgba(232, 165, 84, 1) 40%,
  rgba(219, 145, 74, 1) 99%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
  top,
  rgba(232, 165, 84, 1) 40%,
  rgba(219, 145, 74, 1) 99%
  ); /* IE10+ */
  background: linear-gradient(
  to bottom,
  rgba(232, 165, 84, 1) 40%,
  rgba(219, 145, 74, 1) 99%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8a554', endColorstr='#db914a',GradientType=0 ); /* IE6-9 */
  position: relative;
  z-index: 10;
  top: 15px;
}

/*Ears*/
#bear .ears {
  position: relative;
  z-index: 1;
  width: 200px;
}

#bear .ear1,
#bear .ear2 {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: pink;
  position: relative;
  background: rgb(239, 199, 103); /* Old browsers */
  background: -moz-linear-gradient(
  top,
  rgba(239, 199, 103, 1) 0%,
  rgba(202, 124, 58, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0%, rgba(239, 199, 103, 1)),
  color-stop(100%, rgba(202, 124, 58, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
  top,
  rgba(239, 199, 103, 1) 0%,
  rgba(202, 124, 58, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
  top,
  rgba(239, 199, 103, 1) 0%,
  rgba(202, 124, 58, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
  top,
  rgba(239, 199, 103, 1) 0%,
  rgba(202, 124, 58, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
  to bottom,
  rgba(239, 199, 103, 1) 0%,
  rgba(202, 124, 58, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc767', endColorstr='#ca7c3a',GradientType=0 ); /* IE6-9 */
}

#bear .inner_ear {
  bottom: 16px;
  height: 50px;
  position: absolute;
  right: 13px;
  width: 50px;
  border-radius: 50%;
  background: rgb(151, 93, 45); /* Old browsers */
  background: -moz-linear-gradient(
  top,
  rgba(151, 93, 45, 1) 0%,
  rgba(111, 67, 38, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0%, rgba(151, 93, 45, 1)),
  color-stop(100%, rgba(111, 67, 38, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
  top,
  rgba(151, 93, 45, 1) 0%,
  rgba(111, 67, 38, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
  top,
  rgba(151, 93, 45, 1) 0%,
  rgba(111, 67, 38, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
  top,
  rgba(151, 93, 45, 1) 0%,
  rgba(111, 67, 38, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
  to bottom,
  rgba(151, 93, 45, 1) 0%,
  rgba(111, 67, 38, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#975d2d', endColorstr='#6f4326',GradientType=0 ); /* IE6-9 */
}

#bear .ear2,
#bear .leg1 {
  float: right;
}

#bear .ear1,
#bear .leg2 {
  float: left;
}

/*Eyes*/
#bear .eye1,
#bear .eye2 {
  border-radius: 50%;
  background: rgb(226, 160, 76); /* Old browsers */
  background: -moz-linear-gradient(
  -45deg,
  rgba(226, 160, 76, 1) 0%,
  rgba(239, 175, 88, 1) 99%
  ); /* FF3.6+ */
  background: -webkit-gradient(
  linear,
  left top,
  right bottom,
  color-stop(0%, rgba(226, 160, 76, 1)),
  color-stop(99%, rgba(239, 175, 88, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
  -45deg,
  rgba(226, 160, 76, 1) 0%,
  rgba(239, 175, 88, 1) 99%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
  -45deg,
  rgba(226, 160, 76, 1) 0%,
  rgba(239, 175, 88, 1) 99%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
  -45deg,
  rgba(226, 160, 76, 1) 0%,
  rgba(239, 175, 88, 1) 99%
  ); /* IE10+ */
  background: linear-gradient(
  135deg,
  rgba(226, 160, 76, 1) 0%,
  rgba(239, 175, 88, 1) 99%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a04c', endColorstr='#efaf58',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 50px;
  height: 70px;
  display: inline-block;
  position: absolute;
  top: -43px;
  left: 42px;
}

#bear .eyes {
  position: relative;
  width: 110px;
}

#bear .eye1 {
  position: relative;
  transform: rotate(-25deg);
  -ms-transform: rotate(-25deg); /* IE 9 */
  -webkit-transform: rotate(-25deg); /* Safari and Chrome */
  float: left;
}

#bear .eye1:before,
#bear .eye2:before {
  border-top: 5px solid #89542a;
  border-radius: 20px 20px 0 0;
  content: "";
  display: block;
  height: 20px;
  width: 49px;
}

#bear .eye2 {
  position: relative;
  transform: rotate(25deg);
  -ms-transform: rotate(25deg); /* IE 9 */
  -webkit-transform: rotate(25deg); /* Safari and Chrome */
  float: right;
}

#bear .eyeball1,
#bear .eyeball2 {
  background: rgb(153, 86, 44); /* Old browsers */
  background: -moz-linear-gradient(
  45deg,
  rgba(153, 86, 44, 1) 10%,
  rgba(109, 70, 39, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
  linear,
  left bottom,
  right top,
  color-stop(10%, rgba(153, 86, 44, 1)),
  color-stop(100%, rgba(109, 70, 39, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
  45deg,
  rgba(153, 86, 44, 1) 10%,
  rgba(109, 70, 39, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
  45deg,
  rgba(153, 86, 44, 1) 10%,
  rgba(109, 70, 39, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
  45deg,
  rgba(153, 86, 44, 1) 10%,
  rgba(109, 70, 39, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
  45deg,
  rgba(153, 86, 44, 1) 10%,
  rgba(109, 70, 39, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99562c', endColorstr='#6d4627',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  height: 20px;
  position: relative;
  width: 20px;
}

#bear .eyeball1 {
  left: 12px;
  top: 17px;
}

#bear .eyeball1:before,
#bear .eyeball2:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  top: 3px;
  width: 8px;
}

#bear .eyeball2 {
  left: 17px;
  top: 17px;
}

/*Muzzle*/
#bear .muzzle {
  background-color: #e5ca9d;
  border-radius: 50%;
  display: block;
  height: 54px;
  left: 54px;
  position: relative;
  top: 103px;
  width: 84px;
}

#bear .nose {
  background-color: #6a4528;
  border-radius: 70% / 70% 70% 131% 131%;
  height: 36px;
  width: 58px;
  position: relative;
  left: 12px;
}

#bear .mouth {
  border-bottom: 2px solid #78421c;
  border-radius: 0 0 90px 90px;
  height: 20px;
  left: 12px;
  position: relative;
  top: -10px;
  width: 60px;
}
#bear .nose:after {
  background-color: #ff0000;
  content: "";
  display: block;
  height: 14px;
  left: 27px;
  position: relative;
  top: 34px;
  width: 2px;
  background-color: #78421c;
}

/*BELLY*/
#bear #belly {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  width: 200px;
  height: 200px;
  background: rgb(211, 132, 66); /* Old browsers */
  background: -moz-radial-gradient(
  center,
  ellipse cover,
  rgba(211, 132, 66, 1) 48%,
  rgba(183, 91, 38, 1) 99%
  ); /* FF3.6+ */
  background: -webkit-gradient(
  radial,
  center center,
  0px,
  center center,
  100%,
  color-stop(48%, rgba(211, 132, 66, 1)),
  color-stop(99%, rgba(183, 91, 38, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
  center,
  ellipse cover,
  rgba(211, 132, 66, 1) 48%,
  rgba(183, 91, 38, 1) 99%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
  center,
  ellipse cover,
  rgba(211, 132, 66, 1) 48%,
  rgba(183, 91, 38, 1) 99%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
  center,
  ellipse cover,
  rgba(211, 132, 66, 1) 48%,
  rgba(183, 91, 38, 1) 99%
  ); /* IE10+ */
  background: radial-gradient(
  ellipse at center,
  rgba(211, 132, 66, 1) 48%,
  rgba(183, 91, 38, 1) 99%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d38442', endColorstr='#b75b26',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  clear: both;
  position: relative;
  top: -40px;
  z-index: 2;
}

#bear .belly_inner1,
.belly_inner2 {
  background-color: #fdedd3;
  border-radius: 60% / 90% 90% 30% 30%;
  height: 120px;
  position: relative;
  top: 64px;
  width: 90px;
  display: inline-block;
}

#bear .belly_inner1:after {
  background-color: #fdedd3;
  border-radius: 50%;
  content: "";
  display: block;
  height: 90px;
  left: 18px;
  position: relative;
  top: 34px;
  width: 90px;
}

#bear .belly_inner1 {
  left: 31px;
}

#bear .belly_inner2 {
  right: 31px;
}

/*HANDS*/
#bear .hands {
  position: absolute;
  width: 238px;
}

#bear .hand1,
#bear .hand2 {
  background: rgb(216, 137, 70); /* Old browsers */
  background: -moz-linear-gradient(
  -45deg,
  rgba(216, 137, 70, 1) 14%,
  rgba(229, 173, 76, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
  linear,
  left top,
  right bottom,
  color-stop(14%, rgba(216, 137, 70, 1)),
  color-stop(100%, rgba(229, 173, 76, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
  -45deg,
  rgba(216, 137, 70, 1) 14%,
  rgba(229, 173, 76, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
  -45deg,
  rgba(216, 137, 70, 1) 14%,
  rgba(229, 173, 76, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
  -45deg,
  rgba(216, 137, 70, 1) 14%,
  rgba(229, 173, 76, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
  135deg,
  rgba(216, 137, 70, 1) 14%,
  rgba(229, 173, 76, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88946', endColorstr='#e5ad4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  content: "";
  display: block;
  height: 106px;
  left: -20px;
  position: relative;
  top: -30px;
  width: 54px;
  z-index: 1;
}

#bear .hand1 {
  transform: rotate(45deg);
  transform-origin: 60% 40%;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  float: left;

  -webkit-animation: wave 5s infinite; /* Safari 4+ */
  -moz-animation: wave 5s infinite; /* Fx 5+ */
  -o-animation: wave 5s infinite; /* Opera 12+ */
  animation: wave 5s infinite; /* IE 10+ */
}

#bear .hand2 {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari and Chrome */
  float: right;
}

/*LEGS*/
#bear .legs {
  left: -11px;
  position: relative;
  top: -109px;
  width: 225px;
  z-index: 10;
}

#bear .leg1,
#bear .leg2 {
  border-radius: 50%;
  width: 90px;
  height: 112px;
  border: 1px solid #e4a241;
  background: rgb(223, 154, 76); /* Old browsers */
  background: -moz-linear-gradient(
  -45deg,
  rgba(223, 154, 76, 1) 41%,
  rgba(213, 132, 67, 1) 90%
  ); /* FF3.6+ */
  background: -webkit-gradient(
  linear,
  left top,
  right bottom,
  color-stop(41%, rgba(223, 154, 76, 1)),
  color-stop(90%, rgba(213, 132, 67, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
  -45deg,
  rgba(223, 154, 76, 1) 41%,
  rgba(213, 132, 67, 1) 90%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
  -45deg,
  rgba(223, 154, 76, 1) 41%,
  rgba(213, 132, 67, 1) 90%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
  -45deg,
  rgba(223, 154, 76, 1) 41%,
  rgba(213, 132, 67, 1) 90%
  ); /* IE10+ */
  background: linear-gradient(
  135deg,
  rgba(223, 154, 76, 1) 41%,
  rgba(213, 132, 67, 1) 90%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df9a4c', endColorstr='#d58443',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#bear .leg1 {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
}

#bear .leg2 {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari and Chrome */
}

#bear .foot {
  background: rgb(226, 200, 151); /* Old browsers */
  background: -moz-linear-gradient(
  -45deg,
  rgba(226, 200, 151, 1) 14%,
  rgba(253, 237, 211, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
  linear,
  left top,
  right bottom,
  color-stop(14%, rgba(226, 200, 151, 1)),
  color-stop(100%, rgba(253, 237, 211, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
  -45deg,
  rgba(226, 200, 151, 1) 14%,
  rgba(253, 237, 211, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
  -45deg,
  rgba(226, 200, 151, 1) 14%,
  rgba(253, 237, 211, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
  -45deg,
  rgba(226, 200, 151, 1) 14%,
  rgba(253, 237, 211, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
  135deg,
  rgba(226, 200, 151, 1) 14%,
  rgba(253, 237, 211, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2c897', endColorstr='#fdedd3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  width: 70px;
  height: 90px;
  position: relative;
  top: 10px;
  left: 10px;
}

body{
  text-align: center;
}
