#cat_jazz.cat {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10%;
}

#cat_jazz .face {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 215px;
  height: 140px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

#cat_jazz .ear {
  position: absolute;
  top: 7px;
  width: 60px;
  height: 55px;
  background-color: black;
  border-radius: 5%;
}

#cat_jazz .left {
  left: 3px;
}

#cat_jazz .rigth {
  right: 3px;
}

#cat_jazz .eye-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cat_jazz .eye:first-child {
  margin-right: 10px;
}

#cat_jazz .eye {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 25px;
  background-color: #000;
  border-radius: 50%;
}

#cat_jazz .eye-internal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
}

#cat_jazz .nose {
  position: relative;
  background-color: #000;
  text-align: left;
  margin-top: 10px;
}

#cat_jazz .nose:before,
#cat_jazz .nose:after {
  content: '';
  position: absolute;
  background-color: inherit;
}

#cat_jazz .nose,
#cat_jazz .nose:before,
#cat_jazz .nose:after {
  width: 1em;
  height: 1em;
  border-top-right-radius: 0px;
}

#cat_jazz .nose {
  transform: rotate(120deg) skewX(-30deg) scale(1, .866);
}

#cat_jazz .nose:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

#cat_jazz .nose:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

#cat_jazz .mounth {
  position: relative;
}

#cat_jazz .mounth-top {
  width: 2px;
  margin-top: -10px;
  height: 15px;
  background-color: black;
}

#cat_jazz .mounth-bottom {
  position: absolute;
  border-bottom: 2px solid black;
  width: 51px;
  height: 10px;
  margin-top: -10px;
  border-radius: 10px;
  left: -50px;
}

#cat_jazz .mounth-bottom-rigth {
  left: 0;
}

#cat_jazz .bigote1 {
  background-color: black;
  width: 100px;
  height: 1px;
  margin-top: 70%;
}

#cat_jazz .bigote2 {
  background-color: black;
  width: 95px;
  height: 1px;
  margin-top: 37%;
  margin-left: -98px;
}

