#cat .head {
  position: absolute;
  top: 16.5%;
  left: calc(50% - (320px / 2));
  width: 320px;
  height: 50%;
  background: #A6BECF;
  border-radius: 50%;
}

#cat .head-copy {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  border-radius: 50%;
  z-index: 2;
}

#cat .ear-left {
  position: absolute;
  width: 20%;
  height: 50%;
  left: 6%;
  top: 0%;
  background: #000000;
  border-radius: 50%;
  transform: rotate(160deg);
  z-index: 1;
}

#cat .ear-right {
  position: absolute;
  width: 20%;
  height: 50%;
  right: 6%;
  top: 0%;
  background: #000000;
  border-radius: 50%;
  transform: rotate(20deg);
  z-index: 1;
}

#cat .inner-ear {
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #E090A1;
}

#cat .eye-left {
  position: absolute;
  background: #ffff00;
  width: 20%;
  height: 20%;
  top: 37%;
  left: 21%;
  border-radius: 50%;
  z-index: 3;
}

#cat .eye-right {
  position: absolute;
  background: #ffff00;
  width: 20%;
  height: 20%;
  top: 37%;
  right: 21%;
  border-radius: 50%;
  z-index: 3;
}

#cat .pupil {
  position: absolute;
  width: 40%;
  height: 70%;
  top: 15%;
  left: 30%;
  border-radius: 50%;
  background: #000000;
}

#cat .nose {
  position: absolute;
  background: #E090A1;
  width: 15%;
  height: 9.5%;
  left: 43%;
  top: 65%;
  border-radius: 50px;
  z-index: 4;
}

#cat .author {
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
}

