#elephant .box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  background: none;
}
#elephant .head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: rgb(66, 78, 87);
  border-radius: 50%;
}
#elephant .head-copy {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #4ca4df;
  border-radius: 50%;
  z-index: 2;
}
#elephant .ear-left {
  position: absolute;
  width: 70%;
  height: 85%;
  left: -40%;
  top: 5%;
  background: #dbdbdb;
  border-radius: 50%;
  z-index: 1;
  animation: spinMe 3s infinite;
}
#elephant .ear-right {
  position: absolute;
  width: 70%;
  height: 85%;
  right: -40%;
  top: 5%;
  background: #dbdbdb;
  border-radius: 50%;
  z-index: 1;
  animation: spinMe 3s infinite;
}
#elephant .inner-ear {
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #bebebe;
}
#elephant .eye-left {
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  left: 21%;
  border-radius: 50%;
  z-index: 3;
}
#elephant .eye-right {
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  right: 21%;
  border-radius: 50%;
  z-index: 3;
}
#elephant .pupil {
  position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354a;
}
#elephant .nose {
  position: absolute;
  background: #bebebe;
  width: 25%;
  height: 92.5%;
  left: 37%;
  top: 45%;
  border-radius: 50px;
  z-index: 4;
}

