#flying_cat .gato{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
#flying_cat .circle{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 120px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #000;
  z-index: 1;
}


#flying_cat .ear {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 65px solid #000000;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent; 
}

#flying_cat .left {
  top: 0px;
  left: 60px;
}
#flying_cat .rigth {
  top: 0px;
  right: 60px;
  transform: rotate(-180deg);
}

#flying_cat .paralelogramo {
  width: 70px; 
  height: 50px; 
  border: 2px solid #555; 
  background: #ffffff;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(50deg);
  -ms-transform: skew(50deg);
  -o-transform: skew(50deg);
  transform: skew(50deg);
  border-radius: 15%;
}

#flying_cat .ojos {
  width: 70px;
  height: 50px;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 10% / 0 100%;
  border-radius: 0 70% / 0 100%;
  background: #f5f7f5;
  border: 3px solid rgb(124, 121, 121);
}

#flying_cat .ojo-int {
  width: 40px;
  height: 25px;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 20% / 0 100%;
  border-radius: 0 60% / 0 100%;
  background: #000000;
}

#flying_cat .eye-block{
  display: flex;
  align-items: center;
  justify-content: center;
}
#flying_cat .eye:first-child{
  margin-right: 10px;
}

#flying_cat .eye-left {
  transform: rotate(1deg);
}
#flying_cat .eye-rigth {
  transform: rotate(110deg);
}
#flying_cat .eye-left .ojo-int{
  margin: 10px 10px 5px 5px;
  transform: rotate(90deg);
}
#flying_cat .eye-rigth .ojo-int{
  margin: 10px 5px 5px 10px;
  transform: rotate(120deg);
}

#flying_cat .mounth {
  position: relative;
}
#flying_cat .mounth-top {
  width: 2px;
  margin-top: -10px; 
  height: 15px;
  background-color: black;
}
#flying_cat .mounth-bottom {
  position: absolute;
  border-bottom: 2px solid black;
  width: 20px;
  height: 10px;
  margin-top: -10px;
  border-radius: 10px;
  left: -18px;
}
#flying_cat .mounth-bottom-rigth {
  left: 0;
}

