@import '_bear.css';
@import '_cat.css';
@import '_cat_jazz.css';
@import '_chimpance.css';
@import '_cranebird.css';

.css-zoo {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.css-zoo__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.css-zoo__item {
  align-items: top;
  border: 1px solid gray;
  box-sizing: border-box;
  flex: 0 1 calc(25% - 16px);
  list-style: none;
  margin: 8px;
  min-width: 320px;
  position: relative;
}

.css-zoo__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 8px;
  position: relative;
  height: calc(100% - 34px);
}

.css-zoo__item-footer {
  font-family: sans-serif;
  padding: 8px;
}
